<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Wellcome to VoteMachine!</h1>
    <p class="lead">The perfect place if want to start a custom poll</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Polls:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="poll in awesomePolls">
        <li><a ng-click="choosePoll(poll)" tooltip="{{poll.question}}">{{poll.title}}</a></li>
      </ul>
    </div>
  </div>

  <form class="poll-form" ng-show="isLoggedIn()">
    <label>Just insert the title and go live:</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new poll here." ng-model="newPoll">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addPoll()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>VoteMachine v1.0.0 |
    <a href="https://github.com/OAltr/VoteMachine/issues?state=open">Issues</a></p>
  </div>
</footer>
